# Configurações do Banco de Dados
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hospitaldb?schema=public"

# Configurações JWT
JWT_SECRET="sua_chave_secreta_muito_segura_aqui"
JWT_EXPIRES_IN="90d"
JWT_COOKIE_EXPIRES_IN=90

# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações de Email (Mailtrap)
MAILTRAP_TOKEN="seu_token_mailtrap"
MAILTRAP_INBOX_ID="seu_inbox_id"

