Variáveis do Banco de Dados MySQL
ATENÇÃO: Essas variáveis são usadas pelo serviço 'db' no docker-compose

MYSQL_DATABASE=hospitaldb
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=rootpassword # Senha para o usuário root do banco de dados
DATABASE_URL para a aplicação (back-end) se conectar ao banco no Docker
O formato é: mysql://USER:PASSWORD@HOST:PORT/DATABASE
O 'HOST' é o nome do serviço no docker-compose, que é 'db'.

DATABASE_URL="mysql://user:password@db:3306/hospitaldb"
----------------------------------------------
Variáveis da Aplicação

PORT=3000
NODE_ENV=development
Variáveis do JWT

JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90
Brevo Email Sender

BREVO_API_KEY="sua_chave_de_api_copiada_da_brevo"
BREVO_SENDER_EMAIL="seu_email_verificado_na_brevo@exemplo.com"