POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hospitaldb
DATABASE_URL=postgresql://postgres:postgres@db:5432/hospitaldb?schema=public
JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90
PORT=3000
NODE_ENV=development

# Brevo Email Sender
BREVO_API_KEY="sua_chave_de_api_copiada_da_brevo"
BREVO_SENDER_EMAIL="seu_email_verificado_na_brevo@exemplo.com"
